.home{
    display: flex;
    background-image: url('../../assets/testeFumaca.jpg');
    background-size: 100% 1000px;
    background-repeat: repeat;
    background-attachment: fixed;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 60%;
}
.carousel-text{
    color: white;
    font-size: 20px;
    padding-right: 50px;
    padding-top: 20px;
}

.carousel-home{
    display: flex;
    justify-content: flex-end;
    background-image: url('../../assets/marioCarousel.jpg');
    background-repeat: no-repeat;
    background-size: 100% 500px;
    width: 100%;
    height: 400px;
}

.products-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    width: 100%
}

.products-list{
    display: flex;
    /*background-color: blueviolet;*/
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.product-card{
    display: flex;
    width: 200px;
    margin-left: 50px;
    height: 450px;
    margin-top: 3%;
}

.footer{
    display: flex;
    background-color: #007bff;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}

.social-medias {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 500px;
}

.media-buttons{
    border-radius: 50%;
    
}
.footer .social-medias img{
    width: 40px;
}
.floating-button{
    position: fixed !important;
    right: 150px;
    bottom: 50px;
    width: 70px !important;
    height: 70px !important;
}
.quantity{
    border-color: wheat;
}
.sucess-buy{
    position: absolute !important;
    display: flex;
    justify-content: center;
    top:0;
    width: 60%;
}
.products-container-title{
    display: flex;
    padding-left: 80px;
    padding-right: 40px;
    width: 100%;
    justify-content: space-between;
}
#demo-controlled-open-select{
    width:150px
}